<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-color:#BCA36A;">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <svg class="icon" viewBox="0 0 30 32">
                <!--<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>-->
            </svg>
            <h4><b>Programação do curso de via aérea</b></h4>
            <br>
            <h4>16 de Setembro das 08:00 às 12:00</h4>
            <br>

            <table class="table" style="font-size: 18px;">
                <thead>
                <tr>
                    <th style="text-align: center">AULAS TEÓRICAS</th>
                    <th style="text-align: center">AULAS PRÁTICAS</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Via Aérea Básica</td>
                    <td>Via Aérea Supraglótica</td>
                </tr>
                <tr>
                    <td>Via Aérea Supra-glótica</td>
                    <td>Via Aérea Definitiva</td>
                </tr>
                <tr>
                    <td>Via Aérea Definitiva</td>
                    <td>Interagindo Sedação e Intubação</td>
                </tr>
                <tr>
                    <td>Sedação e Bloqueio Neuromuscular</td>
                    <td>Via aérea difícil</td>
                </tr>
                <tr>
                    <td>Via Aérea Difícil</td>
                    <td>Cricotireoidostomia Percutânea</td>
                </tr>
                </tbody></table>


                <p><b>Instrutores:</b></p>

                <p>Dr. Lúcio Couto - Intensivista AMIB, Cirurgião Geral e Instrutor ATLS, ACLS, Curso de Vias Aéreas do INESS </p>


                <p>Dr. Patrick Sampaio - Cardiologista / Ecocardiografista e Instrutor ACLS</p>
                <p></p>
                <p></p>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
